:root {
  --color-primary: #4A4A4A;

  --color-secondary: #5A6A73;

  --color-ter: #B0A295;

  --color-white: #F5F5F5;

  --color-gold: #FFC107;

}

@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}